<section class="login-section">
  <div class="login-wrapper">
    <h2 class="login-title">Iniciar Sesión</h2>

    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

    <div class="form-group">
      <label for="usuario">Usuario</label>
      <input [(ngModel)]="nombreUsuario" type="text" id="usuario" class="form-control" required />
    </div>

    <div class="form-group">
      <label for="password">Contraseña</label>
      <input [(ngModel)]="password" type="password" id="password" class="form-control" required />
    </div>

    <button (click)="login()" class="btn login-button">Entrar</button>

    <p class="register-text">
      ¿No te has registrado aún?
      <a (click)="goToRegistro()" class="register-link">Regístrate</a>
    </p>
  </div>
</section>
